<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="CodeHim">
        <title>e-Library</title>
        <!-- Style CSS -->
        <link rel="stylesheet" href="/style.css">
        
    </head>

    <body>



       
        <div class="second">
            <h3>Book:</h3>
            <li><%= user.author%></li>
                
                

        </div>
            

       
            
    
    </body>
    
    
</html>  