<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="CodeHim">
        <title>e-Library</title>
        <!-- Style CSS -->
        <link rel="stylesheet" href="/style.css">
        
    </head>

    <body>



        <div>
            <h3>Added Books:</h3>
            <% for(let element of users){ %>
                <li><%= element.title %></li>
                
                
            <% } %> 
        
            

        </div>
            

       
            
    
    </body>
    
    
</html>  